.carouselSection {
  position: relative;
  margin-bottom: 70px;
  margin-top: 10px;
  & > .contentWrapper {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
    .switchingTabs {
      position: absolute;
      right: 20px;
    }
  }

  .carouselTitle {
    font-size: 28px;
    color: white;
    font-weight: 600;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  @media only screen and (max-width: 639px) {
    & > .contentWrapper {
      flex-direction: column;
      gap: 15px;
      .switchingTabs {
        position: static;
        right: auto;
      }
    }
    .carouselTitle {
      position: static;
      left: auto;
      transform: none;
      font-size: 24px;
    }
  }
}
