.carouselSection {
  position: relative;
  margin-bottom: 70px;
  margin-top: 10px;
  & > .contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
    .switchingTabs {
      position: static;
      margin-top: 15px;
    }
  }

  .carouselTitle {
    font-size: 28px;
    color: white;
    font-weight: 600;
    text-align: center;
    position: static;
  }

  @media only screen and (max-width: 639px) {
    & > .contentWrapper {
      gap: 10px;
      .switchingTabs {
        margin-top: 10px;
      }
    }
    .carouselTitle {
      font-size: 24px;
    }
  }
}
