.circleRating {
  background-color: blue;
  border-radius: 50%;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  .ratingText {
    font-size: 18px;
    font-weight: 700;
    color: white;
  }
}
